n8n/demo-data/workflows/document-analyzer.json
{
  "createdAt": "2024-07-14T01:28:31.616Z",
  "updatedAt": "2024-07-14T01:28:31.616Z",
  "id": "document-analyzer",
  "name": "محلل الوثائق الذكي",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "document-webhook",
      "name": "استقبال الوثائق",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "webhookId": "document-analysis-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "fileName": "={{ $json.body.file_path }}",
        "options": {}
      },
      "id": "read-document",
      "name": "قراءة الوثيقة",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "document-content",
              "name": "document_content",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "analysis-prompt",
              "name": "analysis_prompt",
              "value": "قم بتحليل الوثيقة التالية وقدم ملخصاً شاملاً باللغة العربية. اشرح النقاط الرئيسية والمفاهيم المهمة والاستنتاجات:\n\n{{ $json.document_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-analysis",
      "name": "تحضير التحليل",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "systemMessage": "أنت محلل وثائق خبير. مهمتك هي قراءة وتحليل الوثائق وتقديم ملخصات شاملة ومفيدة باللغة العربية. ركز على النقاط الرئيسية والمعلومات المهمة والاستنتاجات.",
        "humanMessage": "={{ $json.analysis_prompt }}",
        "options": {}
      },
      "id": "document-analyzer-chain",
      "name": "محلل الوثائق الذكي",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.3,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.5,
          "topK": 50,
          "topP": 0.85
        }
      },
      "id": "analysis-ollama-model",
      "name": "نموذج التحليل",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        980,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis-result",
              "name": "analysis_result",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "processing-time",
              "name": "processing_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "تنسيق الاستجابة",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "response-node",
      "name": "إرسال الاستجابة",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ]
    }
  ],
  "connections": {
    "استقبال الوثائق": {
      "main": [
        [
          {
            "node": "قراءة الوثيقة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "قراءة الوثيقة": {
      "main": [
        [
          {
            "node": "تحضير التحليل",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تحضير التحليل": {
      "main": [
        [
          {
            "node": "محلل الوثائق الذكي",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "محلل الوثائق الذكي": {
      "main": [
        [
          {
            "node": "تنسيق الاستجابة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "نموذج التحليل": {
      "ai_languageModel": [
        [
          {
            "node": "محلل الوثائق الذكي",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "تنسيق الاستجابة": {
      "main": [
        [
          {
            "node": "إرسال الاستجابة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "document-analyzer-v1",
  "triggerCount": 0,
  "tags": ["Arabic", "Document", "Analysis", "AI"]
}