n8n/demo-data/workflows/knowledge-indexer.json
{
  "createdAt": "2024-07-14T01:28:31.616Z",
  "updatedAt": "2024-07-14T01:28:31.616Z",
  "id": "knowledge-indexer",
  "name": "مفهرس قاعدة المعرفة",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "index-knowledge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "index-webhook",
      "name": "استقبال طلبات الفهرسة",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        400
      ],
      "webhookId": "knowledge-indexer-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "fileName": "={{ $json.body.file_path }}",
        "options": {}
      },
      "id": "read-file",
      "name": "قراءة الملف",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "content-chunks",
              "name": "content_chunks",
              "value": "={{ $json.data.split('\\n\\n').filter(chunk => chunk.trim().length > 0) }}",
              "type": "array"
            },
            {
              "id": "file-name",
              "name": "file_name",
              "value": "={{ $json.body.file_path.split('/').pop() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "split-content",
      "name": "تقسيم المحتوى",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "تقسيم الدفعات",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text",
        "options": {}
      },
      "id": "embeddings-model",
      "name": "نموذج التضمين",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1180,
        620
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "vector-store",
      "name": "قاعدة البيانات المتجهة",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "processed-chunks",
              "name": "processed_chunks",
              "value": "={{ $json.content_chunks.length }}",
              "type": "number"
            },
            {
              "id": "indexed-file",
              "name": "indexed_file",
              "value": "={{ $json.file_name }}",
              "type": "string"
            },
            {
              "id": "processing-time",
              "name": "processing_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-index-response",
      "name": "تنسيق استجابة الفهرسة",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "index-response",
      "name": "إرسال الاستجابة",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1620,
        400
      ]
    }
  ],
  "connections": {
    "استقبال طلبات الفهرسة": {
      "main": [
        [
          {
            "node": "قراءة الملف",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "قراءة الملف": {
      "main": [
        [
          {
            "node": "تقسيم المحتوى",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تقسيم المحتوى": {
      "main": [
        [
          {
            "node": "تقسيم الدفعات",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تقسيم الدفعات": {
      "main": [
        [
          {
            "node": "قاعدة البيانات المتجهة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "قاعدة البيانات المتجهة": {
      "main": [
        [
          {
            "node": "تنسيق استجابة الفهرسة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "نموذج التضمين": {
      "ai_embedding": [
        [
          {
            "node": "قاعدة البيانات المتجهة",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "تنسيق استجابة الفهرسة": {
      "main": [
        [
          {
            "node": "إرسال الاستجابة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "knowledge-indexer-v1",
  "triggerCount": 0,
  "tags": ["Arabic", "Indexing", "Knowledge Base", "Vector Database"]
}